{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "semi": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "react": "readonly",
    "window": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
